{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_scripts %}
<script src="{% static 'shopping/script.js' %}" defer></script>
{% endblock extra_scripts %}

{% block title %}{% trans "Cart" %}{% endblock %}

{% block content %}
<div class="flex justify-center items-start m-10">
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-4">{% trans "Cart" %}</h1>
    <table class="w-full">
      <thead>
        <tr class="bg-cyan-100">
          <th class="text-left px-2 py-1">{% trans "Books" %}</th>
          <th class="text-left px-2 py-1">{% trans "Quantity" %}</th>
          <th class="text-left px-2 py-1">{% trans "Price" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td class="text-left px-2 py-1">{{ book.title }}</td>
          <td class="text-center px-2 py-1">
            <button class="text-indigo-600 hover:text-indigo-800" onclick="add_remove_cart({{ book.id }}, `{% url 'shopping:remove_from_cart' %}`)"><i class="fas fa-minus-circle"></i></button>
            <span id="cart_count{{ book.id }}">{{ book.quantity }}</span>
            <button class="text-indigo-600 hover:text-indigo-800" onclick="add_remove_cart({{ book.id }}, `{% url 'shopping:add_to_cart' %}`)"><i class="fas fa-plus-circle"></i></button>
          </td>
          <td class="px-2 py-1">{{ book.total_price }}</td>
          <td class="px-2 py-1"><button class="text-red-600 hover:text-red-800" onclick="delete_from_cart({{ book.id }}, `{% url 'shopping:delete_from_cart' %}`)"><i class="fas fa-times-circle"></i></button></td>
        </tr>
        {% endfor %}
        <tr class="bg-cyan-100">
          <td class="text-left px-2 py-1"></td>
          <td class="text-center px-2 py-1 font-bold">{% trans "Total" %}</td>
          <td class="px-2 py-1">{{ total }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-4">
      <button class="bg-blue-500 px-4 py-2 text-white" onclick="location.href='{% url 'shopping:checkout' %}'">{% trans "Checkout" %}</button>
    </div>
  </div>
</div>
{% endblock %}
