
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "OrderDetail" %}{% endblock %}

{% block content %}
<div class="flex justify-center items-start m-10">
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-4 text-indigo-600">{% trans "OrderDetail" %}</h1>
    <h2 class="text-lg mb-2">{% trans "Date" %}: {{ order.created_at }}</h2>
    <h2 class="text-lg mb-4">{% trans "Order Status" %}: {{ order.get_status_display }}</h2>
    <table class="w-full mt-10">
      <thead>
        <tr class="bg-cyan-100">
          <th class="text-left px-2 py-1">{% trans "Books" %}</th>
          <th class="text-left px-2 py-1">{% trans "Quantity" %}</th>
          <th class="text-left px-2 py-1">{% trans "Price" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td class="text-left px-2 py-1">{{ book.title }}</td>
          <td class="text-center px-2 py-1">{{ book.quantity }}</td>
          <td class="px-2 py-1">{{ book.total_price }}</td>
        </tr>
        {% endfor %}
        <tr class="bg-cyan-100">
          <td class="text-left px-2 py-1"></td>
          <td class="text-center px-2 py-1 font-bold">{% trans "Total" %}</td>
          <td class="px-2 py-1">{{ order.total_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
