{% extends 'store_admin/admin_base.html' %}
{% load i18n %}
{% block title %} {% trans "AdminDashboard" %} {% endblock title %}
{% block content %}
{% include 'store_admin/analytics/analytics_navbar.html'%}

<div class="container mx-auto px-4 py-8">
    <span class="header">Sales Analytics</span>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="bg-indigo-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2">{% trans "TotalOrders" %}</h2>
            <p class="text-4xl font-bold">{{ total_orders }}</p>
        </div>

        <!-- Total Users -->
        <div class="bg-cyan-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2">{% trans "TotalUsers" %}</h2>
            <p class="text-4xl font-bold">{{ total_users }}</p>
        </div>

        <!-- Orders in Last 30 Days -->
        <div class="bg-indigo-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2"> {% trans "OrdersInLast30Days" %}</h2>
            <p class="text-4xl font-bold">{{ orders_last_30_days }}</p>
        </div>
        <div class="bg-cyan-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2">{% trans "Total Sales" %}</h2>
            <p class="text-4xl font-bold">{{ total_sales }}</p>
        </div>
        <div class="bg-indigo-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2">{% trans "Total Revenue" %}</h2>
            <p class="text-4xl font-bold">{{ total_revenue }}</p>
        </div>
        <!-- <div class="bg-cyan-500 rounded-lg p-4 text-white">
            <h2 class="text-lg font-semibold mb-2">{% trans "AvgorderValue" %}</h2>
            <p class="text-4xl font-bold">{{ avg_order_value }}</p>
        </div> -->
    </div>
    <!-- Sales Analytics Chart -->
    
    <div class="container sales-container">
        <span class="header">Sales status</span>
        <div class="chart-container">
            <canvas id="sales-by-status-chart" width="400" height="200"></canvas>
        </div>
    </div>
    
    

</div>

<style>
    .header{
        padding: 5px;
        padding-bottom: 20px;
        font-size: 40px; 
        text-align: center;
    
    }
    .sales-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .chart-container {
        margin-top: 20px;
    }
</style>

<script>
    // Sales by Status Chart
    var salesByStatusData = JSON.parse('{{ sales_by_status_data|escapejs }}');
    var statusLabels = salesByStatusData.map(item => item.status);
    var statusCounts = salesByStatusData.map(item => item.count);
    var statusChart = new Chart(document.getElementById('sales-by-status-chart'), {
        type: 'line',
        data: {
            labels: statusLabels,
            datasets: [{
                label: 'Sales by Status',
                data: statusCounts,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock content %}