{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="min-h-screen flex justify-center items-center bg-gray-100">
  <div class="flex flex-col items-center">
    <div class="bg-gray-100 rounded-lg shadow-md overflow-hidden">
      <div class="bg-cyan-200 px-4 py-2 flex justify-between items-center gap-2">
            <h2 class="text-2xl font-semibold text-gray-800">{{ request.user.first_name }} {{ request.user.last_name  }}</h2>
        </div>
        <div class="bg-cyan-200 px-4 py-2 flex justify-between items-center gap-2">
          <h3 class="text-2xl font-semibold text-gray-800">{% trans 'Reviews' %}</h3>
      </div>
      <div class="p-4">
        <div class="mb-4">
          {% for r in reviews %}          
            <div class="border border-gray-200 rounded-md p-2 mb-2">
              <p class="text-lg font-semibold text-lime-500">{{ r.books.title }}</p>
              <div class="mb-1">
                {% for i in r.range %}
                  &starf;
                {% endfor %}
              </div>
              <p class="text-gray-700">{{ r.comments }}</p>
              <div>
                <a href="{% url 'review:update-review' pk=r.books.id %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md text-sm">{% trans 'Update'%}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

