{% extends 'store_admin/admin_base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'UserDetail' %}
{% endblock %}
{% block header %}
  {% trans 'UserDetailText' %}
{% endblock %}

{% block content %}
  <div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">{% trans 'User Detail' %}</h1>

    <div class="bg-white p-4 shadow-md rounded-md">
      <p class="text-gray-600 mb-2">
        <strong>{% trans 'FirstName' %}:</strong> {{ object.first_name }}
      </p>
      <p class="text-gray-600 mb-2">
        <strong>{% trans 'LastName' %}:</strong> {{ object.last_name }}
      </p>
      <p class="text-gray-600 mb-2">
        <strong>{% trans 'Username' %}:</strong> {{ object.username }}
      </p>
      <p class="text-gray-600 mb-2">
        <strong>{% trans 'Phone' %}:</strong> {{ object.phone }}
      </p>
      <p class="text-gray-600 mb-2">
        <strong>{% trans 'Email' %}:</strong> {{ object.email }}
      </p>

      <a href="{% url 'admin-user-delete' object.pk %}" class="bg-red-500 text-white px-4 py-2 rounded-md inline-block mt-4">{% trans 'DeleteUser' %}</a>
    </div>
  </div>
{% endblock %}
