{% extends "_base.html" %}

{% block navbar %}
  <!-- navbar.html -->
<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <!-- Website name -->
        <div class="flex-shrink-0 flex items-center">
          <a href="/" class="text-white text-2xl font-bold">Paperbound Pavilion</a>
        </div>
        <!-- Search bar -->
        <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
          <div class="max-w-lg w-full lg:max-w-xs">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <!-- Heroicon name: search -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M15.854 14.146a1 1 0 0 1-1.415 1.415l-3.792-3.792a6 6 0 1 1 1.415-1.415l3.792 3.792zM14 8a6 6 0 1 0-12 0 6 6 0 0 0 12 0z" clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search" name="search" class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 sm:text-sm" placeholder="Search" type="search">
            </div>
          </div>
        </div>
        <!-- Books link -->
        <div class="flex items-center">
          <a href="{% url 'book-list' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Books</a>
        </div>
        <!-- LOGOUT -->
        <div class="flex items-center">
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log out</a>
          </form>
        </div>
      </div>
    </div>
  </nav>
  
{% endblock navbar %}